<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuentas T</title>
    <link rel="stylesheet" href="../static/css/cuentasT.css" th:href="@{/css/cuentasT.css}">

</head>
<body>
<div class="cuentas-t">
    <table class="cuentas-t-table">
        <thead>
        <tr>
            <th colspan="2">ACTIVOS</th>
            <th colspan="2">PASIVOS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="cuenta-activos">BANCO</td>
            <td class="saldo-activos">+ $200,000.00</td>
            <td class="cuenta-pasivos">PROVEEDORES</td>
            <td class="saldo-pasivos">- $34,800.00</td>
        </tr>
        <tr>
            <td class="cuenta-activos">MD</td>
            <td class="saldo-activos">+ $200,000.00</td>
            <td class="cuenta-pasivos">MD</td>
            <td class="saldo-pasivos">- $137,600.00</td>
        </tr>
        <tr>
            <td class="cuenta-activos">INVENTARIO</td>
            <td class="saldo-activos">+ $86,206.90</td>
            <td class="cuenta-pasivos">ACREEDORES</td>
            <td class="saldo-pasivos">- $5,800.00</td>
        </tr>
        <tr>
            <td class="cuenta-activos">IVA POR ACREDITAR</td>
            <td class="saldo-activos">+ $13,793.10</td>
            <td class="cuenta-pasivos">ACREEDORES DIVERSOS</td>
            <td class="saldo-pasivos">- $50,000.00</td>
        </tr>
        <!-- Más filas de datos aquí -->
        </tbody>
    </table>
</div>
</body>
</html>
