<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/formulario.css" th:href="@{/css/formulario.css}" rel="stylesheet" />
    <title>Editar Movimiento</title>
</head>
<body>
<div class="container">
    <h1>Editar Operacion</h1>
    <form th:action="@{/movimientos/actualizar}" th:object="${movimiento}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <label th:for="cuenta">Cuenta:</label>
        <input id="cuenta" type="text" th:field="*{cuenta}" required/>

        <label th:for="cargo">Cargo:</label>
        <input id="cargo" type="number" th:field="*{cargo}" required/>

        <label th:for="abono">Abono:</label>
        <input id="abono" type="number" th:field="*{abono}" required/>


        <button type="submit">Actualizar</button>
    </form>

    <a href="/movimientos">Volver a la lista</a>
</div>

</body>
</html>
